<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">

	<listeners>
		<listener class-name="com.qa.ExtendReportListener.ExtentReportListener" />
	</listeners>
  <test thread-count="1" name="Test" >
    <classes>
      <class name="com.crm.qa.testscases.HomePageTest"/>
      <class name="com.crm.qa.testscases.ContactsPageTest"/>
      <class name="com.crm.qa.testscases.SignUpPageTest"/>
      <class name="com.crm.qa.testscases.LoginPageTest"/>
      <class name="com.crm.qa.testscases.DealsPageTest"/>
      <class name="com.crm.qa.testscases.CampaignsPageTest"/>
      <class name="com.crm.qa.testscases.CalenderPageTest"/>
      <class name="com.crm.qa.testscases.CompaniesPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
